/* body.css */

.container-fluid {
    padding: 0; /* Remove padding */
}

.img-container {
    width: 100vw; /* Make the container width equal to the viewport width */
    max-width: 100%;
    overflow: hidden; /* Hide any overflow content */
}

.img-container img {
    width: 100%; /* Make the image width 100% */
    height: 10; /* Maintain aspect ratio */
    display: block; /* Ensure image fills the entire width */
    /* object-fit: cover; Scale the image to be as large as possible while ensuring its aspect ratio remains intact */
}

