@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@700&display=swap');

.gotham-bold {
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
}







.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .header-container {
    position: relative;
  }
  
  .prata-regular {
    position: top left;
    top:0;
    left: 0;
    margin: 10px; /* Optional: Add some margin for spacing */
  }
  
  .navbar-container {
    display: flex;
    justify-content: center; /* Horizontally center the navbar */
    align-items: center; /* Vertically center the navbar */
    /* letter-spacing: 10px; */
    font-size: 20px;
  }
  

  .cormorant-garamond {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 0;
    color: black;  
}




