

@media (min-width: 1000px){}
.nav-links-container {
        margin-top: 0; /* Reset the top margin */
    }



    .image-container {
        position: relative;
        width: 100%;
        height: auto;
      }
      
      .image-container img {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      
      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        text-align: center;
        width: 100%;
      }
      
      .overlay h3 {
        font-size: 32px;
        margin: 0;
      }
      
      .overlay p {
        margin-top: 10px;
      }
      

    