.custom-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .login-form {
    width: 300px; /* Adjust the width as needed */
  }
  

  
  
  .custom-mb-4 {
    /* Styles for the top-level container */
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding-left: 100px;
  }


  


  
  .form-group {
    margin-bottom: 15px; /* Add space between form elements */
}

.text-center {
    text-align: center; /* Center align text within form elements */
}

.text-md-left {
    text-align: left;
}

.btn-primary {
    display: inline-block; /* Ensure button is inline with text */
}

  